name: Generate Snake Game from GitHub Contribution Grid

on:
  # Action haftada bir çalışsın (isteğe göre değiştirebilirsin)
  #schedule:
    #- cron: "0 0 * * 0"
  # Manuel olarak da çalıştırabilirsin
  workflow_dispatch:
  # Yeni commit geldiğinde de güncellesin
  push:
    branches:
      - main

jobs:
  build:
    name: Generate snake animation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v3

      - name: Generate Snake Game
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push generated files to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
